<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/static/user_panel/user.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Control Panel</title>
</head>

<body>
    <header>

        <div class="row">
            <div class="column" style="background-color:#F3F7F0;;">
                <h2>{{user class="shelter"_name}}</h2>
            </div>
            <div class="column" style="text-align: center ;background-color:#F3F7F0;;">
                <h2>Panneau de controle</h2>

            </div>
            <div class="column" style="background-color:#F3F7F0;;">
                <button style="font-weight: bold;;width: 20%;height: auto;float: right;;" type="button">Logout</button>

            </div>
        </div>
    </header>

    <div style="width: 50%; margin: auto;">
        <fieldset class="hello">
            <form action="/action_page.php">
                <input type="checkbox" id="shower" name="shower" value="shower">
                <label for="vehicle1"> Douche     </label> 
                <input type="checkbox" id="bed" name="bed" value="bed">
                <label for="vehicle2"> Lit     </label>
                <input type="checkbox" id="food" name="food" value="food">
                <label for="vehicle1"> Nourriture     </label>
                <input type="checkbox" id="therapist" name="therapsit" value="therapist">
                <label for="vehicle3"> thérapeute     </label><br><br>
                <input type="reset" value="réinitialiser">
                <input type="submit" value="Soumettre">
                <input type="submit" name="sauveguarder" value="sauveguarder">
               

            </form>
        </fieldset>
    </div>


</body>

</html>