<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Shelter</title>
    <link rel="stylesheet" href="/static/admin_panel/add_shelter.css">
</head>
<body>
    <div>
        <form action="/add_sheltter" method="POST">
            <div>
                <input type="text" name="sheter_name" placeholder="Shelter Name">
                <input type="text" name="shelter_adress" placeholder="Adress">
                <input type="text" name="shelter_email" placeholder="Email">    
            </div>
            <div>
                <input type="text" name="username" placeholder="Username">
                <input type="password" name="password" placeholder="Password">
                <input type="confirm_password" name="confirm_password" placeholder="Confirm Password">
    
    
            </div>
            <input type="submit" value="Add Shelter">
        </form>
    </div>
    
</body>
</html>