<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Add Shelter</title>
        <link rel="stylesheet" href="/static/admin_panel/add_shelter.css">
    </head>
    <body>
        <div class="box">
            <div class="user-img"></div>

            <form action="/admin_panel/add_shelter" method="POST">
                <ul class="list">
                    <h2>Ajouter un abri</h2><br>
                    <div>
                        <li><input type="text" name="sheter_name"
                                placeholder="Shelter Name"></li>
                        <li> <input type="text" name="shelter_adress"
                                placeholder="Adress"></li>
                        <li> <input type="text" name="shelter_email"
                                placeholder="Email"></li>
                    </div>
                    <div>
                        <li> <input type="text" name="username"
                                placeholder="Username"></li>
                        <li> <input type="password" name="password"
                                placeholder="Password"></li>
                        <li> <input type="confirm_password"
                                name="confirm_password"
                                placeholder="Confirm Password"></li>


                    </div>
                    <li><input type="submit" value="Add Shelter"></li>
                </ul>
            </form>
        </div>



    </body>
</html>
