/* red :        #DB324D     /
/white :       #F3F7F0     */

@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap%27");

html, body {
    background-color: black;
    font-family: 'Nunito', sans-serif;
    color: #F3F7F0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header-header {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}

#map {
    height: 30px;
    position:absolute;
    top:0;
}

#main-div {
    background-color: #2B60AC;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 450px;
    margin: 0;
    padding: 0;
}

#header {
    display: flex;
    flex-direction: row;
}

#logo {
    width: 50px;
    height: 50px;
    margin-left: 20px;
}

#name > p {
    font-size: 70%;
}

#name {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#top-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:relative;
    font-size: 200%;
    font-weight: bold;
    height: 100%;
}

#bottom-div {
    position:relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

hr {
    height: 2px;
    margin-top: 20px;
    width: 70%;
    color: #FEFAE0;
    border: 0;
    border-top: 2px solid;
}