@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap%27');

html,
body {
  font-family: 'Nunito', sans-serif;
  background-color: #DB324D
}

.whiteBackground {
  background-color: #F3F7F0;
  height: 30px;
}

h1 {
  background-color: #F3F7F0;
  font-weight: bold;
  text-align: center;
  text-decoration: wavy;
  color: black;
  padding: 0;
  margin: 0;
}

html {
  color: #F3F7F0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, sans-serif;
}

.mySlides {
  display: none;
}

img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  max-height: 20%;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.break {
  height: 60px;
  background-color: transparent;
}

.superBreak {
  height: 550px;
  background-color: transparent;
}

/* Number text (1/7) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}



.column {
  float: inline-start;
  width: 15%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 4px 8px 0 rgba(0, 0, 0, 0.3);
  margin: 8px;

}


.container {
  padding: 0 16px;
}
.row{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
}

.container::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}



#about-us {
  color: black;
  background-color: #F3F7F0;
  width: 50%;
  height: 400px;
  text-align: justify;
  text-justify: inter-word;
  padding: 20px;
  border: #717171;
}


/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px
  }
}

/* split mission part */
.leftMission {
  text-align: justify;
  text-justify: inter-word;
  float: left;
  width: 50%;
  border:solid black;
  height: 500px;
  padding: 30px;
}

.rightMission {
  float: right;
  width: 50%;
  border: solid black;
  height: 500px;
  height: 500px;
  padding: 30px;
}