 <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Shelter Finder board</title>
        <link rel="stylesheet" href="/static/board.css">
    </head>
    <body>

    <div id="main-div">

        <div id="top-div">

            <div id="name">
                {{ shelter.name }}
            </div>

            <img alt="Shelter image" src="{{ shelter.image }}">

        </div>

        <hr>

        <div id="bottom-div">
            <div id="map">

                <iframe
                        width="400"
                        height="450"
                        style="border:0"
                        loading="lazy"
                        allowfullscreen
                        referrerpolicy="no-referrer-when-downgrade"
                        src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyBSJNoW5llJQRKszzkYCNx3TzdgopIklA4
    &destination={{ shelter.latitude }},{{ shelter.longitude }}
    &origin=45.50418693241608,-73.61360121950645
    &mode=walking&zoom=15
">
                </iframe>
            </div>
        </div>

    </div>

    </body>
    </html>