{% block content %}

    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Shelter Finder board</title>
        <link rel="stylesheet" href="/static/board.css">
    </head>
    <body>

    <div id="main-div">

        <div id="header-header">

            <p>Pour en apprendre plus à notre sujet,<br>visitez notre site internet!</p>
            <img id="logo" src="static/logos/logo.jpg" alt="logo">

        </div>

        <div id="top-div">

            <div id="header">
                <div id="name">
                    {{ name }}<br>
                    <p>vous accueille!</p>
                </div>
            </div>

            <img alt="Shelter image" src="{{ image }}">

        </div>

        <hr>

        <div id="bottom-div">
            <div id="map">

                <iframe
                        width="400"
                        height="300"
                        style="border:0"
                        loading="lazy"
                        allowfullscreen
                        referrerpolicy="no-referrer-when-downgrade"
                        src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyBSJNoW5llJQRKszzkYCNx3TzdgopIklA4
    &destination={{ address }}
    &origin=2500+Chem+de+Polytechnique+Montréal+QC+H3T+1J4
    &mode=walking&zoom=13
">
                </iframe>
            </div>
        </div>

    </div>

    </body>
    </html>

{% endblock %}